main.main 
  h2.main__title Коротко обо мне
  .main__content.container 
    .main__description 
      p.main__text Меня зовут Айдин, мне 18. Я начинающий front-end разработчик. <br> Создаю веб-сайты, l-page. Могу так же совершить посадку <br> шаблона на cms систему Wordpress
      .main-block 
        h4.block__title Что я реализовал на данный момент
        p.block__text Разработал сайт на wordpress для МОН Кр <br> Сверстал официальный сайт ilim.bilim.edu.kg <br> Сверстал сайт компании iwex.kg
    .main-image 
      img.image-code(src="assets/img/coding-img.png", alt="")
      a.link(href="#top" id="bottom") 
        img.image-link(src="assets/img/icon-arrow.png", alt="")