.background 
  header.header 
  .header__container.container 
    .header-logo__nav 
      img(src="/assets/img/main-img.png", alt="")
      a.nav__Link(href="#") Главная
      a.nav__Link(href="#") Обо мне
    .nav-btn 
      a.button(href="#") Связаться со мной

  section.section.container
    .section__description 
      h1.section__title Резюме
      h4.section__text Коротко о главном 